<h1><%= @restaurant.name %></h1>
<br>
<h4>Details</h4>
<p>Address: <%= @restaurant.address %></p>

<% if @restaurant.phone_number.nil? %>
  <p>Phone: <%= @restaurant.phone_number %></p>
<% else %>
  <p>Phone: missing</p>
<% end %>

<br>

<h4>Reviews</h4>
<h5>Reviews list</h5>
  <% @restaurant.reviews.each do |review| %>
    <div class="review">
      <p><%= review.content %></p>
      <% @star =  "<i class='far fa-star'></i>".html_safe %>

      <ul class="list-inline">
        <% review.rating.times do  %>
          <li >
            <%= @star %>
          </li>
        <% end %>
      </ul>
    </div>
    <br>
  <% end %>

<br>

<h5>Add a review</h5>
<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit class:"btn" %>
<% end %>
<br>
<br>
