<h1><%= @restaurant.name %></h1>
<h3>Details</h3>
<br>

<p>Address: <br>
<%= @restaurant.address %></p>

<% if @restaurant.phone_number.nil? %>
  <p>Phone: <br>
  <%= @restaurant.phone_number %></p>
<% else %>
  <p>Phone number missing</p>
<% end %>

<br>

<h3>Reviews</h3>
<br>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
  <br>
<% end %>

<br>

<h4>Add a review</h1>

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
<br>
<%= link_to 'Back to list', restaurants_path %>
